<launch>  
 
   <!-- Load existing map -->
   <node name="map_server" pkg="map_server" type="map_server" args="$(find turtlebot_gazebo)/maps/playground.yaml" /> 

   <!-- Publish a static transformation between /odom and /map -->
   <node name="tf" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 /map /odom 100" />

   <!-- Run load_map node -->
   <node name="find_path" pkg="find_path" type="find_path.py" output="screen" cwd="node">
        <param name="starting_location" value="0,0"/>
	    <param name="goal_location" value="2,-1.5"/>
	    <param name="robot_size" value="0.35"/>
   </node>
</launch>

